<div class="container-fluid py-3 border border-primary border-3  d-flex flex-column">
<p class="fs-3">Que quieres hacer?</p>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="pageActive" (change)="updateAllValue()" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Una pagina web +(500 €)
    </label>
  </div>
  <div class="d-flex flex-column gap-2 border-dark border  p-3 rounded my-2" *ngIf="pageActive">
    <label class="" for="numeroPaginas">
      Numero de paginas
     <button (click)="pageCantidad = pageCantidad >= 1? pageCantidad + 1 : pageCantidad; updateAllValue()">+</button>
    <input class="text-center" type="number" min="1"  [(ngModel)]=pageCantidad (change)="updateAllValue()"  id="numeroPaginas">
   <button (click)="pageCantidad = pageCantidad >1 ? pageCantidad - 1 : pageCantidad; updateAllValue()">-</button>
    </label>
    <label class="" for="idiomaCantidad">
      Numero de idiomas
      <button (click)="idiomaCantidad = idiomaCantidad >= 1 ? idiomaCantidad + 1 : idiomaCantidad; updateAllValue()">+</button>
    <input class="text-center" type="number" min="1"  [(ngModel)]='idiomaCantidad' (change)="updateAllValue()"  id="idiomaCantidad">
   <button (click)="idiomaCantidad = idiomaCantidad > 1 ? idiomaCantidad - 1 : idiomaCantidad; updateAllValue()">-</button>
    </label>
  </div>

  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="seoActive" id="flexCheckChecked" (change)="updateAllValue()">
    <label class="form-check-label" for="flexCheckChecked">
      Una consultoria SEO +(300 €)
    </label>
  </div>
  <div class="form-check">
    <input class="form-check-input" type="checkbox" [(ngModel)]="adsActive" id="flexCheckChecked1" (change)="updateAllValue()">
    <label class="form-check-label" for="flexCheckChecked1">
      Una campaya de Google Ads +(200 €)
    </label>
  </div>
  <p class="fs-3 my-2">Precio: {{price}} </p>
  <p class="fs-3">Extra: {{extras}} </p>
</div>
