<div class="container">
  <div class="mt-5 mx-auto w-75 bg-info p-4 border border-dark border-radius-6" >
    <p class="text-muted fs-2 my-5 mx-auto w-75 ju ">Podra crear: presupuesto de una página web
      ,decidir si desea añadir  más idiomas y páginas  ,agregar una  campaña SEO y puede tambien  agregar  una campaña de publicidad. </p>
    <div class="d-flex w-50 mx-auto flex-column gap-3">
      <button class="btn btn-primary" routerLink="hombre">Crear presupuesto</button>
    </div>
  </div>
</div>

